body {
	font-family: 'Roboto', serif;
	font-size: 12px;
	overflow: hidden;
	background: rgb(220, 230, 220);
	margin-top: 50px;
}

* {
	padding: 0;
	margin: 0;
}

div#container {
	width: 500px;
	margin: 0 auto;
	border-radius: 10px;
	border: 5px solid rgb(135, 170, 100);
	background: white;
	padding: 20px;
}

header {
	padding: 10px;
	width: 400px;
	margin: 0 auto;
}

form {
	margin: 0 auto;
	padding-left: 40px;
	width: 400px;
}
 
h1 {
	font-family: 'Roboto', sans-serif;
	position: relative;
	top: 5px;
	left: 10px;
}

input {
	margin-top: 10px;
}

input[type=submit] {
	margin-right: 50px;
	padding: 3px;
}

label {
	font-weight: bold;
	font-size: 16px;
}

ul {
	color: #333333;
	/* list-style-image:url('dash.png'); */
	list-style-type: none;
	margin-left: 18px;
	width: 320px;
	font-size: 12px;
	margin-bottom: 20px;
}

.run-animation {
	-webkit-animation: fade-in-out 3s ease;
}

span {
	position: relative;
	right: 50px;
	font-size: 15px;
	top: 15px;
	color: rgb(135, 170, 100);
	float: right;
}

@-webkit-keyframes fade-in-out {
	0%   {opacity: 0;}
	25%  {opacity: 100;}
	75%  {opacity: 100;}
	100% {opacity: 0;}
}